/*------CSS CHUNG CHO LIST TRONG ProjectDetail------*/
/*--CSS cho tab All/In preview--*/
.filter-item {
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-background-radius: 10px; /* Bo tròn để tạo hiệu ứng viên thuốc */
    -fx-underline: false;

}

.filter-item-active {
    -fx-background-color: #E0E0E0; /* Màu xám nhạt như trong hình */
    -fx-font-weight: bold;         /* Làm đậm chữ để nổi bật */
}

.filter-link:focused {
    -fx-border-color: transparent;
    -fx-outline-color: transparent;
}

.filter-item,
.filter-item:visited,
.filter-item:hover,
.filter-item:armed {
    -fx-text-fill: black;      /* Giữ màu đen cố định */
    -fx-underline: false;     /* Xóa bỏ gạch chân */
    -fx-border-color: transparent; /* Xóa viền khi focus */
    -fx-padding: 3px 15px;    /* Padding cho giống viên thuốc */
    -fx-border-width: 0px;
}

/*--CSS cho tableview List--*/
#taskListProject {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;    /* Bo tròn góc */
    -fx-background-radius: 10px;
    -fx-padding: 0;
}

#taskListProject .column-header-background {
    -fx-background-color: white; /* Màu nền xám nhạt */
    -fx-border-color: white white black white; /* Chỉ giữ đường kẻ dưới */
    -fx-border-width: 0 0 1px 0;
}

#taskListProject .column-header {
    -fx-background-color: transparent;
    -fx-size: 40px; /* Độ cao của header */
    -fx-border-color: transparent;
}

#taskListProject .table-cell {
    -fx-border-color: white;
    -fx-padding: 10px;
    -fx-alignment: CENTER_LEFT;
}

#taskListProject .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #E0E0E0 transparent; /* Đường kẻ ngang giữa các dòng */
    -fx-border-width: 0 0 1px 0;
}

#taskListProject .table-row-cell:filled:selected {
    -fx-background-color: #F5F5F5;
    -fx-background-insets: 0;
}

/*--CSS cho Btn Create--*/
.btn-create {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-cursor: hand;
}

.btn-create:hover {
    -fx-background-color: #f4f4f4; /* Chuyển xám cực nhẹ */
}

.btn-create:pressed {
    -fx-background-color: #e0e0e0;
}
